API_PORT=8000

POSTGRES_USER=weather_user
POSTGRES_PASSWORD=weather_password
POSTGRES_DB=weather_db

REDIS_PORT=6379

WEATHER_CITY=Rivne
WEATHER_COUNTRY_CODE=UA
WEATHER_LATITUDE=
WEATHER_LONGITUDE=

DATABASE_URL=postgresql+psycopg2://weather_user:weather_password@localhost:5432/weather_db